@media only screen and (max-width: 600px) {
	.pair {
		width: 95vw;
		min-height: 17vh;
	}
	.name {
		font-size: 6vw;
	}
	.officialname {
		font-size: 2.5vw;
	}
	.years {
		font-size: 2.75vw;
	}
	.variant {
		font-size: 2.5vw;
	}
	#infodiv {
		height: 50vh;
		width: 90%;
		left: 5%;
	}
}		
@media only screen and (min-width: 601px) {
	.pair {
		width: 95vw;
		min-height: 17vh;
	}
	.flag {
		width: 40%;
	}
	.resultdiv {
		height: 92%;
	}
	.name {
		font-size: 4vh;
	}
	.officialname {
		font-size: 2.5vw;
	}
	.years {
		font-size: 2.75vw;
	}
	.variant {
		font-size: 2.5vw;
	}
	#infodiv {
		height: 60vh;
		width: 90%;
		left: 5%;
	}
}
@media only screen and (min-width: 798px) {
	.pair {
		width: 75vw;
		min-height: 20vh;
	}
	.flag {
		width: 45%;
	}
	.resultdiv {
		height: 92%;
	}
	.officialname {
		font-size: 2vw;
	}
	.years {
		font-size: 2vw;
	}
	.variant {
		font-size: 2vw;
	}
	.nonly {
		width: 15vw;
	}
	#infodiv {
		height: 65vh;
		width: 86%;
		left: 7%;
	}
}
@media only screen and (min-width: 992px) {
	.pair {
		width: 60vw;
	}
	.name {
		font-size: 3.5vh;
	}
	.officialname {
		font-size: 1.5vw;
	}
	.years {
		font-size: 1.7vw;
	}
	.variant {
		font-size: 1.7vw;
	}
	.nonly {
		width: 12vw;
	}
	#infodiv {
		height: 70vh;
		width: 65%;
		left: 17.5%;
	}
}
@media only screen and (min-width: 1200px) {
	.pair {
		width: 45vw;
		min-height: 28vh;
	}
	.resultdiv {
		height: 93.8%;
	}
	.name {
		font-size: 2.5vw;
	}
	.officialname {
		margin: 0 0 0.5vh 0;
		font-size: 1vw;
	}
	.years {
		font-size: 1.1vw;
	}
	.variant {
		font-size: 1.1vw;
	}
	.nonly {
		width: 10vw;
	}
	#infodiv {
		height: 70vh;
		width: 40vw;
		left: 30vw;
	}
}